body {
    overflow-x: hidden;
    margin-top: 4.5rem;
}

h1 {
    font-size: 2rem;
    font-family: 'Roboto Flex', sans-serif;
}

h2 {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 1.3rem;
    font-family: 'Roboto Flex', sans-serif;
    padding: 0 0.5rem;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 0.9rem;
}

/* Aos custom rotate */
[data-aos="rotate"] {
    transform: rotate(10800deg);
    opacity: 1;
    transition-property: transform, opacity;

    &.aos-animate {
        transform: rotate(0);
        opacity: 1;
    }
}